<!DOCTYPE html>
<html>
<head>
    <title>Login - Mini Cloud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <style>
        
    </style>
</head>
<body>
    <h2>Login</h2>
    <form method="POST">
        <div class="group">
            <input required="" type="text" name="username" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Username</label>
        </div>

        <div class="group">
            <input required="" type="password" name="password" class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
        </div>

        <input type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a></p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
